@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1 class="display-4">Welcome</h1>
            @if (SignInManager.IsSignedIn(User))
            {
                <p>Go to <b>Weather</b> to start</p>
            }
            else
            {
                <p>You must login to use the Weather Search of this application</p>
            }
        </div>

    </div>
</div>
