

<div class="container">
    <div class="row">
        <div class="cole-md-12">
            <h1 class="display-4">Weather Search</h1>
            @using (Html.BeginForm("query", "Weather", FormMethod.Get))
            {
                @Html.TextBox("query","", new { required = "required", placeholder = "e.g. city, postcode" });
                <input type="submit" value="Submit" />
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="cole-md-12">
            <h3>Usage</h3>
            On this search, you can provide the following:
            <ul>
                <li>Latitude and Longitude (Decimal degree) e.g: q=48.8567,2.3508</li>
                <li>city name e.g.: q=Paris</li>
                <li>US zip e.g.: q=10001</li>
                <li>UK postcode e.g: q=SW1</li>
                <li>Canada postal code e.g: q=G2J</li>
                <li>metar:<metar code> e.g: q=metar:EGLL</li>
                <li>iata:<3 digit airport code> e.g: q=iata:DXB</li>
                <li>auto:ip IP lookup e.g: q=auto:ip</li>
                <li>IP address (IPv4 and IPv6 supported) e.g: q=100.0.0.1</li>
            </ul>
        </div>
    </div>
</div>